html {
	background: #ECECEC;
	font-family:sans-serif;
}

h2, body, p {
	padding: 0;
	margin: 0;
}

#notes {
	font-family:"Times New Roman",Times,serif;
	margin: 0 auto;
	margin-bottom:20px;
	max-width: 690px;
	display: flex;
	flex-wrap: wrap;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.note {
	position:relative;
	background: white;
  color:#5A5A5A;
	margin: 5px;
	padding:10px;
	width: 200px;
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.3);
  border-radius: 2px;
	word-wrap: break-word;

  animation-name: fadeIn;
  animation-duration: 1s;
}
.edit, .delete {
	background-color: #99CCFF;
	color: #FFFFFF;
	position: absolute;
	float: right;
	padding:5px;
	bottom: 0;
	right: 0px;
}
.edit:hover, .delete:hover{
	background-color: #FF4C4C;
}
.edit:active, .delete:active{
	background-color: #000000;
}
.delete {
	right: 40px;
}

#top_bar {
  background:white;
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.3);
  margin-bottom:5px;
}
#top_bar_sub {
	width:550px;
	margin:0 auto;
}

#add_note {
	/* background: #FFFFF2; */
	padding:10px;
	width: 400px;
	display:inline-block;
}
#noteContent {
  width:350px;
  height:15px;
  transition: all 1s;
  -webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
}
#noteContent:focus {
	height:100px;
}
#add_note form  button{
	float:right;
}
#top_bar #status {
	display:inline-block;
	margin:10px;
	color:#CCCCCC;
}

.clearfloat {
	clear:both;
}
